<ubud-element-common-navbar-component>

</ubud-element-common-navbar-component>

    <div class="flex">
        <ubud-element-common-sidebar-component>

        </ubud-element-common-sidebar-component>
            <div class="item-center justify-center pl-8pr-8 pt-5">
                <h1 class="font-bold text-3x1">Lorem Ipsum</h1>
                <p class="pt-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut etiam sit amet nisl. Lobortis elementum nibh tellus molestie nunc non. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Ullamcorper velit sed ullamcorper morbi tincidunt ornare. Mi in nulla posuere sollicitudin aliquam ultrices. Nibh sit amet commodo nulla. Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu. Nisi lacus sed viverra tellus in. Luctus accumsan tortor posuere ac ut consequat semper viverra. Egestas maecenas pharetra convallis posuere. Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Ut tortor pretium viverra suspendisse potenti nullam ac. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                <div class="flex">
                    <ubud-element-common-card-component>{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' | truncate}}</ubud-element-common-card-component>
                    <ubud-element-common-card-component>{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' | truncate}}</ubud-element-common-card-component>
                </div>
            </div>
    </div>
